[Unit]
Description=proximagicYFI service
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/proximagicYFI/init.sh start
ExecStop=/home/pi/proximagicYFI/init.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
