[Unit]
Description=Webstrates-pi service
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/webstrate-pi/init.sh start
ExecStop=/home/pi/webstrate-pi/init.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
